<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Quản lý báo cáo</h4>
                        <p class="category">Tìm báo cáo dưới đây</p>
                        <input class="form-control" style="width: 50%;" type="text" placeholder="Search......." [(ngModel)]="filter">
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table id="tbl-prod" class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Hình ảnh</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Mô tả</th>
                                        <th>Ngày đăng</th>
                                        <th>Người đăng</th>
                                        <th>Người tố cáo</th>
                                        <th>Ngày tố cáo</th>
                                        <th>Nội dung</th>
                                        <th>Tùy chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of listReport| filter:filter | paginate: { itemsPerPage: 6, currentPage: p }">
                                        <td><img class="img-prod" src="{{row.img}}"></td>
                                        <td>{{row.tensp}}</td>
                                        <td>{{row.mota}}</td>
                                        <td>{{row.date | date:'dd-MM-yyyy' }}</td>
                                        <td>{{row.useremail}}</td>
                                        <td>{{row.reporteremail}}</td>
                                        <td>{{row.ngaytocao | date:'dd-MM-yyyy'}}</td>
                                        <td>{{row.content}}</td>
                                        <td>
                                            <button class="info-btn"><i class="fa fa-check"></i></button>
                                            <button class="danger-btn"><i class="fa fa-times-circle"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                          </table>
                          <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
